<div class="p-20">
  <h1>Shopping List</h1>

  <div>
    <wx-product
      *ngFor="let p of shoppingList"
      [attr.product-id]="p.productId"
      [attr.product-title]="p.productTitle"
      [attr.short-description]="p.shortDescription"
      [attr.price]="p.price"
      [attr.shopping-list-amount]="p.shoppingListAmount"
      [attr.shopping-list]="true"
      onAddToShoppingList="addToShoppingList()"
    ></wx-product>

    <div *ngIf="shoppingList" class="d-flex justify-content-between py-20 font-weight-bold">
      <div>Total</div>
      <div>${{ shoppingListTotal }}</div>
    </div>

    <div *ngIf="!shoppingList" class="p-20 mt-20 bg-light">
      Shopping list is empty
    </div>
  </div>

</div>
